# General
.DS_Store
Thumbs.db
.vscode/
.env
.env.*
.maintest.cpp

# PlatformIO
firmware/.pio
firmware/.clang_complete
firmware/.gcc-flags.json
firmware/.sconsign.dblite
firmware/.device-names

# Arduino
*.elf
*.bin

# Secrets
firmware/secrets/wifi_secrets.h

# Node / web
node_modules/
**/node_modules/
dist/
.next/

# Swift / Xcode
*.xcuserdata
*.xcuserstate
DerivedData/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
apps/iosApp/PatekDigitale/saveCodeBase.py
apps/iosApp/PatekDigitale/sourceCodeBase.txt

# Backend
backend/
